

.conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.title {
    height: 80px;
    width: 300px;
    background-color: lightgray;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    border-radius: 10px;
}

h3 {
    margin: 5px;
}

button {
    margin: 10px;
}